@charset "EUC-KR";

.box{
	display:block;
	justify-content:center;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	
	height:350px;
	width: 40%;
}

.divlog{
	display: flex;
	justify-content: center;
}

.allform{
	margin-top: 25px;
	height: 100%;
	border: 3px solid #F7AD19;	
	border-radius: 15px;
	padding-top: 25px;
	
}

.user,.ps{
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;
	height: 50px;
	width: 90%;
	font-size: medium;	
}

.btnlogin{
	margin-top: 10px;
	margin-right: 15px;
}

.btnlogin{
	margin-top: 10px;
	margin-left: 15px;
	
}

legend {
	font-size: xx-large !important;
	font-weight: bolder;
	color: #F7AD19;
}

INPUT{
	border: none;
}


.btnlogin, .btnsign{
	border: 2px solid #F7AD19;
	background-color: #F7AD19;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	text-align: center;
	font-size: large;
	border-radius: 18px;
	width: 150px; 
}

hr{
	width: 90% !important;
}

input:focus{
    outline: none;
    border-color: #F7AD19;
}

img{
	
	height: 100px !important;
}


