@charset "EUC-KR";

.join{
	text-align: center;
}

.box {
	display: block;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	height: 500px;
	width: 40%;
}

.box1, .box2{
	display: flex;
}

.div{
	display: flex;
	width: 90%;
}

INPUT {
	border: none;
	display: flex;
	justify-content: center;
}

.form-group{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	height: 50px;
	width: 90%;
	font-size: medium;
}

.allform {
	margin-top: 25px;
	height: 100%;
	border: 3px solid #F7AD19;
	border-radius: 15px;
	padding-top: 25px;
}

hr {
	width: 90% !important;
}

.btnok{
	border: 2px solid #F7AD19;
	background-color: #F7AD19;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	
	margin-left :auto;
	margin-right :auto;
	
	color: white;
	text-align: center;
	font-size: large;
	border-radius: 18px;
	width: 150px;
}

.na, .user, .ps, .da, .em, .mb{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
}