@charset "EUC-KR";

.join{
	text-align: center;
}

.box {
	display: block;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	height: 550px;
	width: 40%;
}

.box1, .box2{
	display: flex;
	margin-left: 25px;
}
label{
	
  display: inline-block;
  position: relative;
  font-size: medium;
  margin: auto 0 auto 5px;
}

legend{
	font-size: xx-large;
color: #F7AD19;
}

.div{
	display: flex;
	width: 90%;
}

INPUT {
	border: none;
	display: flex;
	justify-content: center;
	height: 40px;
	font-size: large;
}
.na:focus, .user:focus, .ps:focus, 
.da:focus, .em:focus, .mb:focus {
	outline: white;
}

.form-group{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	height: 50px;
	width: 90%;
	font-size: medium;
}

.allform {
	margin-top: 25px;
	height: 100%;
	border: 3px solid #F7AD19;
	border-radius: 15px;
	padding-top: 25px;
}

hr {
	width: 90% !important;
}	


button{
	border: 1px solid #CCCCCC;
	border-radius: 15px;
	width: 150px;
	height: 50px;
	background: white;
	color: black;
	transition: all 0.4s;	
	text-align: center;	
	font-size: 15pt;
	float: none;
	margin: 25px 0 25px 0;
}

button:hover{
	background-color: #F7AD19;
	border: 1px solid white;
	color: white;
}

.na, .user, .ps, .da, .em, .mb{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
}