@charset "utf-8";
@import url("font-awesome.min.css");
@import url("custom.flexslider.css");
@import url("framework.css");

/* Rows
---------------------------------------------------------------------------- */
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}

/* Header
---------------------------------------------------------------------------- */
#header{}

#header #logo{margin:30px 0 0 0;}
#header #logo h1{margin:0; padding:0; font-size:22px; text-transform:uppercase;}

/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{margin-top: 20px; margin-bottom: 20px; border: solid 8px #F7AD19; padding: 30px 10px 0px 10px; border-radius: 60px 60px 60px 60px / 60px 60px 60px 60px;}

#pageintro li article{display:block; max-width:75%; margin:0 auto; text-align:center; }
#pageintro li article *{margin:0;}
#pageintro li p:first-of-type{margin-bottom:100px; font-style:italic;}
#pageintro li .heading{margin-bottom:10px; font-size:3rem; word-wrap:break-word;}
#pageintro li p:nth-of-type(2){line-height:1.5rem;}
#pageintro li footer{margin-top:30px;}

/* Content Area
---------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.sectiontitle{display:block; margin-bottom:80px;}
.sectiontitle *{margin:0;}

#introblocks{position:relative; z-index:1; margin:50px 0 50px; padding:30px; border-radius:10px;}
#introblocks > ul > li{text-align:center;}
#introblocks > ul > li img{width:100%;}/* 이미지 너비가 전체 너비에 맞도록 강제 기능*/

.overview{}
.overview > li{margin-bottom:50px;}
.overview > li:nth-last-child(-n+3){margin-bottom:0;}
.overview > li:nth-child(3n+1){margin-left:0; clear:left;}/* Removes the need to add class="first" */
.overview > li article{max-width:320px;}
.overview > li article img{margin-bottom:30px;}
.overview > li article .heading{margin:0; font-size:1.2rem;}

.meta li{display:inline-block; font-size:.8rem;}
.meta li::after{margin-left:5px; content:"|";}
.meta li:last-child::after{margin:0; content:"";}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Click to Action
--------------------------------------------------------------------------------------------------------------- */
.cta{padding:50px 0;}
.cta > :first-child{margin-top:10px;}
.cta > :last-child{margin-bottom:0;}/* Used when elements stack in smaller viewports */

/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0 50px;}

#footer .heading{margin-bottom:50px; font-size:1.2rem;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}

#footer input, #footer button{border:1px solid;}
#footer input{display:block; width:100%; padding:8px;}
#footer button{padding:8px 18px 10px; text-transform:uppercase; font-weight:700; cursor:pointer;}

/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0; border-top:1px solid;}
#copyright *{margin:0; padding:0;}


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb 이동경로 */
#breadcrumb{padding:120px 0 30px;}
#breadcrumb ul{margin:0; padding:0; list-style:none; text-transform:uppercase;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}
#breadcrumb .heading{margin:0; font-size:1.6rem;}

/* Sidebar Navigation 소메뉴 */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}

/* Colors
--------------------------------------------------------------------------------------------------------------- */
body{color:#474747; background-color:#FFFFFF;}
a{color:#D55A77;}
a:active, a:focus{background:transparent;}
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#D55A77;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.light{color:#F7AD19;}
.overlay.light::after{background-color:#FFFFFF;}
.overlay.coloured::after{background-color:rgba(255,255,255,.55);}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#D55A77; border-color:#D55A77;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

/* Rows */
.row1{color:#474747; background-color:#F7AD19;}
.row2, .row2 a{}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#474747; background-color:#FFFFFF;}
.row5, .row5 a{color:#474747; background-color:#F7AD19;}

/* Top Bar */
#topbar, #topbar ul li{border-color:rgba(255,255,255,.2);}
#topbar > div:last-of-type li:first-child a{color:#D55A77;}


/* Header */
#header #logo a{color:inherit;}


/* Page Intro */

.flex-direction-nav a{color:rgba(247,173,25,1);}
.flex-control-paging li a{background-color:rgba(247,173,25,1); border-color:rgba(247,173,25,0);}
.flex-control-paging li a.flex-active{background-color:rgba(247,173,25,0); border-color:rgba(247,173,25,1);}


/* Content Area */
#introblocks{background-color:#FFFFFF; margin-top: 20px; margin-bottom: 20px; border: solid 6px #F7AD19; padding: 20px 20px 20px 20px; border-radius: 40px 40px 40px 40px / 40px 40px 40px 40px;}

/* Copyright */
#copyright{border-color:rgba(0,0,0,.1);}


/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#D55A77; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#474747; background-color:rgba(233,233,233,.8);/* #E9E9E9 */ border-color:rgba(255,255,255,.4);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#F7AD19;}
#mainav form select{color:#FFFFFF; background-color:#000000;}

#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:#D55A77;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#D55A77;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#D55A77;}

#backtotop{color:#FFFFFF; background-color:#D55A77;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
#comments input:focus, #comments textarea:focus, #comments *:required:focus{border-color:#D55A77;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}


@media screen and (max-width:750px){
	.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next{display:none;}
	.flex-control-nav{display:block;}

	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/*이중 여백 중지*/
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#header{text-align:center;}
	#header #logo{margin:0 0 15px 0;}

	#introblocks > ul > li:last-child{margin-bottom:0;}

	.overview > li:nth-last-child(-n+3){margin-bottom:50px;}

	.cta > :first-child{margin-top:0;}
}


@media screen and (max-width:450px){
	#pageintro li footer form{max-width:none; width:100%;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}

	#pageintro li article{max-width:none; width:100%;}
	#pageintro li .heading{font-size:1.6rem;}
}

/* Radi */
#radi {background-color:rgba(247,173,25,1); border-color:rgba(247,173,25,0); z-index:3; position: relative; left: 80px; top: -312px; box-sizing: border-box; width: 150px; height: 45px; background-color: orange; border-radius: 40px / 40px;} /*margin: 20px auto;*/
#radi1 {position: relative; z-index:2;}