@charset "UTF-8";

@charset "EUC-KR";

/* ---------- 폰트관련 설정 ---------- */
@import	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
	

@font-face {
	font-family: 'GmarketSansMedium';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'GmarketSansMedium';
}

/* ---------- manageruser ---------- */


table {
	border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 90%;    
    margin: 50px auto 0px auto;
}

thead{
 	background-color: #F7AD19;
    color: white;
    text-align: center;
	font-size: medium;	
	font-weight: lighter;
	line-height:30px;
}

tbody{
	border-bottom: 1px solid #dddddd;	 
    text-align: center;
    font-size: small;
}

td{
	height: 50px;
}

td:first-child {
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	
}

tr:hover td{
	background: rgb(255, 242, 204);	
    transition: all 0.4s;
}


.choice{
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	
}

.btnarea{
	width: 90%;
	margin-left: auto; 
	margin-right: auto; 
}

.delete {
	border: 1px solid #CCCCCC;
	border-radius: 15px;
	width: 150px;
	height: 50px;
	background: white;
	color: black;
	transition: all 0.4s;	
	text-align: center;	
	font-size: 15pt;
	float: right;
	margin: 25px 0 25px 0;
}

.delete:hover{
	background-color: #F7AD19;
	border: 1px solid white;
	color: white;
}

