@charset "EUC-KR";

@charset "utf-8";

.div1, .div2 {
	display: flex;
	justify-content: flex-start;
}

.div1 {
	margin-top: 25px;
	margin-bottom:50px;
}

.div2 {
	margin-top: 15px;
	width: 100%;
}

.div3 {
	display: flex;
	justify-content: flex-start;
}
.div4 {
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
}

.comfont{
	font-size: x-large;
	font-weight: lighter;
}

.box1 {
	display: flex;
	justify-content: flex-start;
	margin-right: 25px;
	width: 100%;
}

.username{
	margin-top: 15px;
	margin-bottom: auto;
	font-size: large;
}

.comdate{
	display : flex;
	justify-content:flex-start;
	margin-left: 15px;
	margin-right: 0px;
	padding-right:0px;
	width: 150px;
}

.comment {
	display: flex;
	justify-content: flex-start;
	width: 50%;
}

.puzzle {
	margin-left: 20px;
	width: 50%;
	display:block;
}

.titlefont {
	font-size: xx-large;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 15px;
	margin-top: 5px;
}

.subfont {
	margin: 0px;
	padding: 0px;
	font-size: medium;
	font-weight: lighter;
	height: 80%;
}

button {
	border: none;
	border-radius: 20px;
	width: 200px;
	height: 50px;
	background: #FFC000;
	top: 450px;
	left: 1300px;
	text-align: center;
	color: black;
	display: block;
	font-size: 15pt;
	font-weight: bold;
}

.submit1 {
	border: none;
	border-radius: 20px;
	width: 100px;
	height: 30px;
	background: #FFC000;
	text-align: center;
	color: black;
	display: block;
	margin-left:25px;
	margin-top : auto;
	margin-bottom : auto;
	font-size: 15pt;
}

.btnupdate {
	border: none;
	border-radius: 20px;
	
	background: #FFC000;
	text-align: center;
	color: black;
	padding-left : 20px;
	padding-right : 20px;
	padding-bottom : 1px;
	padding-top : 1px;
	margin-bottom :auto;
	margin-top :auto;
	
	font-size: small;
}

.imgbox {
	width: 50%;
}

.profile {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 5px;
}

h1{
	margin: 0;
	padding: 0;
}

#go {
	margin-left: auto;
	margin-top:  auto;
}

#comment-input {
	border-style: bold;
	border-bottom-color: #FFC000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
	height: 70px;
	font-size: 25px;
}