@charset "EUC-KR";

@charset "utf-8";

@import	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
	

@font-face {
	font-family: 'GmarketSansMedium';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.allofus{
	margin-bottom: 300px;
}

.div1, .div2 {
	display: flex;
	justify-content: flex-start;
}

.div1 {
	margin-top: 25px;
	margin-bottom:50px;
}

.div2 {
	margin-top: 15px;
	width: 100%;
}

.div3 {
	display: flex;
	justify-content: flex-start;
}
.div4 {
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
}

.comfont{
	font-size: x-large;
	font-weight: lighter;
}

.box1 {
	display: flex;
	justify-content: flex-start;
	margin-right: 25px;
	width: 100%;
}

.username{
	margin-top: 15px;
	margin-bottom: auto;
	font-size: large;
}

.comdate{
	display : flex;
	justify-content:flex-start;
	margin-left: 15px;
	margin-right: 0px;
	padding-right:0px;
	width: 150px;
}

.comment {
	display: flex;
	justify-content: flex-start;
	width: 50%;
}

.puzzle {
	margin-left: 20px;
	width: 50%;
	display:block;
}

.titlefont {
	font-size: xx-large;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 15px;
	margin-top: 5px;
}

.subfont {
	margin: 0px;
	padding: 0px;
	font-size: medium;
	font-weight: lighter;
	height: 80%;
}

.imgbox {
	width: 50%;
}

.profile {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 5px;
}

h1{
	margin: 0;
	padding: 0;
}

#go {
	margin-left: auto;
	margin-top:  auto;
}

#comment-input {
	border-style: bold;
	border-bottom-color: #FFC000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
	height: 70px;
	font-size: 25px;
}
#comment-input {
	outline: none;
}

/* ---------- ¹öÆ°  ---------- */

.btnupdate:hover, .submit1:hover, button:hover{
	background-color: #F7AD19;
	border: 1px solid white;
	color: white;
}

button {
	border: 1px solid #CCCCCC;
	border-radius: 15px;
	width: 200px;
	height: 50px;
	background: white;
	color: black;
	top: 450px;
	left: 1300px;
	transition: all 0.4s;	
	text-align: center;	
	display: block;
	font-size: 15pt;
	
	font-family: 'GmarketSansMedium';
}

.submit1 {	
	width: 150px;
	height: 30px;
	display: block;	
	margin: auto 0 20px 25px;
	font-size: 15pt;
}

.btnupdate {
	border: 1px solid #CCCCCC;
	background-color: white;
	border-radius: 12px;
	color: black;
	text-align: center;
	padding: 1px 20px 1px 20px;
	margin-bottom :auto;
	margin-top :auto;
	transition: all 0.4s;	
	font-size: small;
}

