@charset "EUC-KR";

@charset "UTF-8";

/* ---------- 폰트관련 설정 ---------- */
@import	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
	

@font-face {
	font-family: 'GmarketSansMedium';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body, .introfont {
	font-family: 'GmarketSansMedium';
}

/* ---------- testres ---------- */


.testres{
	margin: 30px auto 30px auto; 
	border: solid 3px #F7AD19; 
	border-radius: 25px 25px 25px 25px;
}


.testBox{	
	margin : 30px 0px 0px 0px;	
	text-indent: 35px !important;
}

.testlabel{
	font-size: xx-large;
	font-weight :bolder;
	color: #F7AD19;
}

.note{
	font-size: large;
	line-height : 35px;
}



.otherlabel{
	font-size: large;
	font-weight :bolder;
	color: #F7AD19;
}
.otherBox{
	
	margin : 30px 0px 5px 0px;
	
	text-indent: 35px !important;
}

.otherlabel{
	font-size: large;
	font-weight :bolder;
	color: #F7AD19;
}

.othertest{ 
	border: solid 3px #F7AD19;
	border-radius : 25px 25px 25px 25px;
	padding : 10px !important;
	display: flex;
	padding-top:20px; 
	margin: 10px auto 30px auto;
}


/* ---------- testres_view ---------- */

.Box1{
	display: flex;
	justify-content: center;
}
.imgbox{
	margin-left: auto;
	margin-right: 0px;
}

.Box2{
	margin-right: auto;
	margin-left: 0px;
	margin-top: 30px;
}

.t_title{
	font-size: xx-large;
	font-weight: bolder;
	margin: 10px 0px 10px 0px;

}

.t_title2{
	font-size: xx-large;
	font-weight: bolder;
	margin: 10px 0px 10px 0px;

}

.t_contents{
	font-size: medium;
	font-weight: lighter;	
	margin: 10px 0px 10px 0px;
}

.fonttitle {
	margin-top: 5px;
	font-size: large;
	font-weight: bold;
	letter-spacing: 1px;
}

.fontall {
	margin-top: 15px !important;
	text-indent: 15px;
}

.t_res{
	padding: 20px;
	text-align: center;
}

/* ---------- 버튼 ---------- */


.rego{
	padding: 15px;
	border: 1px solid #CCCCCC;
	width : 200px;
	background-color: white;
    border-radius: 12px;
    transition: all 0.4s;
	line-height:15px;
	margin: 20px 5px 0px auto;
	color: black;
	font-size: medium;	
	font-family: 'GmarketSansMedium';
}

.rego:hover {
	background-color: #F7AD19;
	border: 1px solid white;
	color: white;
}

