@charset "UTF-8";

.testimg{
	width: 40%;
}

.qanda{
	border: none;
}

.a1, .a2{	
	
	width: 40%;	
	height : 45px;
	
	background-color: #CCCCCC;
	color: white;
	
	text-align: center;
	font-size: x-large;
	border-radius: 15px;
	
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
	
	
}

.a1 :hover {
	background-color: rgb(255, 242, 204);

}