@charset "UTF-8";

@charset "EUC-KR";

@import url("framework.css");

/* ---------- 폰트관련 설정 ---------- */
@import	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
	

@font-face {
	font-family: 'GmarketSansMedium';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'GmarketSansMedium';
}

.allofus{
	text-align: center;
	align-content: center;
	
	
	margin-bottom: 100px;
}

.testimg{
	width: 50%;
}

.topper{
	margin :5px auto 0px auto;
	
	display: flex;
	justify-content: center;
	
	width : 50%;
	border: 1px solid white;
}

.t_title2{
	margin: 5px auto 5px 0px;
	font-size: xx-large !important;
	font-weight: bold;
}

.t_number{
	margin: 5px 0px 5px auto;
}

.upper{
	display: flex;
	justify-content: center;
}

/*프로그레스바 수정부*/
.progress {
	-webkit-appearance: none;
	height: 5px;
	width: 50%;
	
	margin : 5px auto 10px auto;
}

::-webkit-progress-bar {
	background: #f0f0f0;
}

::-webkit-progress-value {
	background: #F7AD19;
}


.qanda{
	border: none;
	display: block;
	justify-content: center;
	
}

.q{
	margin: 25px auto 15px auto;
	font-size: large;
}

.a1, .a2, .a3{
    padding: 15px 30px;
    background-color: white;
    color: black;
    border: 2px solid #CCCCCC;
    border-radius: 30px;
    letter-spacing: 4px;
    transition: all 0.4s;
    width : 50%;
    height:auto;
	letter-spacing:0;
	line-height:40px;
	margin: 15px auto 15px auto;
	opacity:.9;
	
}

.a1:focus, .a2:focus, .a3:focus {
    outline: none;
}

.a1:hover, .a2:hover, .a3:hover{
    background-color: #F7AD19;
    border: 2px solid #F7AD19;
    color: white !important;
}

