@charset "UTF-8";
@charset "EUC-KR";

@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'GmarketSansMedium';
	
}
/* ---------- 게시글 부 ---------- */
.topper{
	width: 80%;
	display: block;
	justify-content: flex-start;
	
    
	margin: 35px auto 25px auto;
}

.v_title{
	font-size: 400%;
	letter-spacing: 4px;
	
}
.plusimg{
	display: flex;
	width: 100%;
	margin : 20px 0 0 0;
}
.v_info{
	display: flex;
	justify-content: flex-start;
	text-indent: 15px !important;
	margin : 30px 0 10px auto;
}

.v_name{
	margin-right: 10px; 
}

.v_date{
	margin-left: 10px;
}
.v_text{
	display: flex;
	margin : 30px auto 10px 0;
}



.g_btn{
		float: left;
		margin: auto 0 10px auto;
}

.v_user{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 5px;
}
.v_content{
	font-size: large;
	padding: 15px;	
	height: 500px;
}
/* ---------- 댓글부분  ---------- */

.v_down{
	width: 80%;
	margin:  0 auto 50px auto;
}

.div3 {
	display: flex;
	justify-content: flex-start;
}
.div4 {
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
}

.comfont{
	font-size: x-large;
	font-weight: lighter;
}

.box1 {
	display: flex;
	justify-content: flex-start;
	margin-right: 25px;
	width: 100%;
}

.username{
	margin-top: 15px;
	margin-bottom: auto;
	font-size: large;
}

.comdate{
	display : flex;
	justify-content:flex-start;
	margin-left: 15px;
	margin-right: 0px;
	padding-right:0px;
	width: 150px;
}

.comment {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.v_profile {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin: 5px;
}





.v_btng{
	display: flex;
	justify-content:flex-end;
	margin:  0 0 0 auto;
}

#comment-input {
	border-style: bold;
	border-bottom-color: #FFC000;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
	height: 70px;
	font-size: 25px;
}

#comment-input:focus {
	outline: none;
}

/* ---------- 버튼  ---------- */
.v_btn{
	padding: 10px;
	border: 1px solid #CCCCCC;
	width : 100px;
	background-color: white;
    border-radius: 12px;
    transition: all 0.4s;
	line-height:10px;
	margin: 20px 5px 0px auto;
	color: black;
	font-family: 'GmarketSansMedium';

}

.v_btn:hover, .v_btna:hover,
.btnupdate:hover, .submit1:hover {
	background-color: #F7AD19;
	border: 1px solid white;
	color: white;
}

.v_btna{
	padding: 5px 15px 5px 15px;
	border: 1px solid #CCCCCC;
	background-color: white;
    border-radius: 12px;
    transition: all 0.4s;
	line-height:15px;
	margin: auto 5px 0px auto;
	color: black;
	font-family: 'GmarketSansMedium';
}

.btnupdate {
	border: 1px solid #CCCCCC;
	background-color: white;
	border-radius: 12px;
	color: black;
	transition: all 0.4s;
	text-align: center;	
	margin-bottom :auto;
	margin-top :auto;
	margin-left :10px;
	padding: 1px 20px 1px 20px;
	font-size: small;	
}

.submit1 {
	border: 1px solid #CCCCCC;
	border-radius: 12px;
	width: 100px;
	height: 30px;
	background: white;
	color: black;
	text-align: center;	
	font-size: 15pt;	
	line-height:10px;
	transition: all 0.4s;
	margin: auto 0 10px 10px;
	font-family: 'GmarketSansMedium';
}