@charset "UTF-8";
@charset "EUC-KR";
@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'GmarketSansMedium';
}

/* ---------- write ----------*/

.allofus{
	width: 100%;
}

table{
	width: 100%;
}